atproto==0.0.46
boto3==1.34.38
faiss-cpu==1.8.0
Flask==3.0.2
google-api-python-client==2.116.0
google-generativeai==0.5.0
langchain==0.1.7
litellm==1.44.5
matplotlib==3.8.3
openai==1.42.0
pandas==2.2.0
peewee==3.17.1
polars==0.20.7
pymongo==4.7.1
python-dotenv==0.21.0 
requests==2.31.0
sentence-transformers==2.6.1
transformers==4.39.1